* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header {
    background: deepskyblue;
    color: white;
    font-size: 25px;
    padding: 25px;
    text-align: center;
}

.containeritems {
    display: flex;
    flex: 1;
}

.sidebar {
    background: darkturquoise;
    padding: 20px;
    width: 25%;
    min-height: 400px;
    text-align: center;
}


.main-content {
    background: paleturquoise;
    padding: 20px;
    width: 75%;
    min-height: 400px;
    text-align: center;
    
}


.footer {
    background: darkgray;
    color: papayawhip;
    padding: 15px;
    text-align: center;
}




@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar, .main-content {
        width: 100%;
    }
}

 
@media (max-width: 480px) {
    .header {
        font-size: 20px;
        padding: 15px;
    }
    
    .sidebar{
        padding: 15px;
        min-height: 200px;
        width: 40%;
    }
    
    .main-content {
        padding: 15px;
        min-height: 200px;
        
    }
    
    .footer {
        padding: 10px;
    }
}